*{
    box-sizing: border-box;
}

body
{
    background-image: url("background18.jpg");
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 20px;
    width: 100%;
    margin-bottom: 40px;
    background-size: cover;
    background-position: center;
    background-color:#C0C0C0;
}


.signup
{
    width: 38%;
    background:beige;
    padding: 20px;
    margin: 0% auto 0;
    text-align: center;
    background-color:#85929E;
    box-shadow: rgba(0,147,173,0.9);
    border-radius: 10px;
}

h1
{
    color:black;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 15%;
    margin-right:15%

}

.form-container input[type=text],
.form-container input[type=date],
.form-container input[type=email],
.form-container input[type=password],
textarea {
  width: 100%;
  margin: 8px 0 15px 0;
  padding: 15px 25px 15px 25px;
  border: none;
  background: #ddd;
  border-radius: 10px;
}

.form-container input[type=checkbox]{
    margin-top: 10px;
}

.sign{
    align-items: center;
    margin-left: 20px;
}

td{
    text-align: left;
}

td .sign-up{
    text-align: center;
}
.input
{
    display: ruby-base;
    width: 100%;
    height: 20px;
    background:white;
    outline: brown;
    border: 1px solid whitesmoke;
    font-family: sans-serif;
    font-weight:lighter;
    font-size: 14px;
    margin-bottom: 10px;
    padding-left: 10px;
    border-radius: 20px;
}

::-webkit-input-placeholder{
    color: black;
}

.signup-btn
{
    color: #fff;
    width: 150%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin-left: 100px;
    margin-top: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: brown;
}
 
img
{
    width: 90px;

}

span{
    margin: 0 auto;
}

