* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #C0C0C0;
}

.innerDiv{
    display: flex;
    align-items: center;
}

.select {
    display: ruby-base;
    width: 100%;
    height: 25px;
    background: whitesmoke;
    outline: lightcoral;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-family: sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
    padding-left: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.searchDiv {
    width: 100%;
    margin-left: 40px;
    margin-right:40px;
    margin-top: 120px;
    align-items: center;
}

.searchDiv input[type=text] {
    width: 300px;
    padding: 15px;
    margin: 15px;
    border: none;
    background: #ddd;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #888888;
}

.searchDiv input[type=text]:focus {
    outline: none;
    border-radius: 10px;
}

.searchButton {
    background-color: #6495ED;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

.searchButton:hover {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    box-shadow: 2px 2px 2px #888888;
}







label {
    font-size: medium;
    text-align: start;
    margin: 0 auto;
    text-align: left;
}

h1 {
    align-content: center;
    text-transform: uppercase;
    text-align: center;
    word-spacing: 4px;
    margin-top: 100px;
    font-size: 30px;
}

.form {
    width: 80%;
    box-shadow: 3px 3px 3px  rgba(0, 0, 0, 0.3);
    background: gray;
    padding: 15px;
    height: fit-content;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
   
}

input[type=text],
select,
input[type=date],
input[type=number],
input[type=time] {
    width: 70%;
    padding: 10px;
    margin: 5px;
    border: none;
    background: #ddd;
    border-radius: 8px;
}

input:invalid {
    border: none /* Red border only if the input is empty */
}

.submitButton {
    background-color: #09cf87;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
    margin-bottom:10px;
    margin-right: 10px;
    opacity: 0.8;
    font-size: medium;
    text-transform: uppercase;
    border-radius: 10px;
    z-index: 1;
  }

.submitButton:hover{
    border: none;
    opacity: 1;
    box-shadow: 3px 3px 3px #888888;
}

.outerDiv{
    width: 100%;
    display: flex;
    height: 100%;
}
  
.leftDiv
{
    width: 50%;
}

.rightDiv{
    width: 50%;
    background-color: #7595d1;
        position: fixed;
        margin-top: 110px;;
        height: 100%;
        right: 0;
        top: 0;
        z-index: 1;
}

.outerDiv1{
    margin: 20px;
    background-color: #ddd;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #888888;
    z-index: 1;
}

.innerDiv1{
   display: flex;
   padding: 0%;
   width: auto;
}

.innerSubDiv1{
    margin-left: 10px;
    width: 30%;
    padding: 0%;
}

