body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background: #34495e;
}
.login_frm{
    width: 300px;
    padding: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    text-align: center;
}

.login_frm h1{
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    /*text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff, 0 0 0.5rem #2ecc71, 0 0 0.5rem #2ecc71, 0 0 0.5rem #2ecc71, 0 0 0.5rem #2ecc71, 0 0 0.5rem #2ecc71, 0 0 2rem #2ecc71, 0 0 0.5rem #2ecc71;
*/}
.login_frm input[type="text"],.login_frm input[type="password"]{
    border: 0;
    font-size: 18px;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}


.login_frm input[type="text"]:hover,.login_frm input[type="password"]:hover{
    width: 280px;
    border-color:  #ccccff;
    /*box-shadow: 0 0 0.5rem #fff, 0 0 0.5rem #fff, 0 0 0.5rem #2ecc71, 0 0 2rem #2ecc71, 0 0 0.5rem #2ecc71;
*/
box-shadow: 0 0 0.5rem #fff, 0 0 0.5rem #fff;
}
.login_frm input[type="submit"], .login_frm .sign-up{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 10px;
    width: 150px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.3s;
    cursor: pointer;
    font-size: 15px;
}
.login_frm input[type="submit"]:hover,.login_frm .sign-up:hover{
    background: #2ecc71;
    width: 180px;
    font-weight: 700;
    /*box-shadow: 0 0 0.5rem #fff, 0 0 0.5rem #fff, 0 0 0.5rem #2ecc71, 0 0 2rem #2ecc71, 0 0 0.5rem #2ecc71;
*/}

a:link{
    text-decoration: none;
}

.login_frm div, .login_frm .doctor-page{
    margin-top: 20px;
    color: white;
}

.forgot{
    margin-left: 85px;
    margin-bottom:20px;
    color: white;
    width: 150px;
    display: flex;

    
}

.login_frm .errorLabel{
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

#errorLabel{
    color: #d9d9d9;
    font-weight: 400;
}